
<app-header [headerData]="headerData"></app-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="contact-user-data">
    <ion-card *ngFor="let user of contactList;">
      <ion-card-content>
        <div class="current-user-data">
          <div class="user-name">
            <h5>
              {{user?.name}}
            </h5>
          </div>
          <div class="user-email">
            <h6>
              {{user?.email}}
            </h6>
          </div>
          <div class="description">
            <h6>
              {{user?.description}}
            </h6>
          </div>
        </div>
        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
