<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="dashboard">
    <!-- <ion-card class="card">
      <ion-card-content>
        <div class="time-data">
          <h5>
            {{getToday()}}
          </h5>
        </div>
        </ion-card-content>
    </ion-card> -->
    <ion-card class="card">
      <ion-card-content>
          <div class="user-count" (click)="gotoPage('registered')">
            <h5 style="text-decoration: underline;">Registered Users</h5> <h5 style="text-decoration: underline;" >{{dashboardData?.users?.RegisteredUsers || 0}}</h5>
          </div>
          <div class="user-count">
            <h5>Anonymous Users</h5> <h5>{{dashboardData?.users?.AnonymousUsers || 0}}</h5>
          </div>
          <div class="user-count">
            <h5>Users Visits</h5> <h5>{{dashboardData?.users?.UsersVisits || 0}}</h5>
          </div>
          <div class="user-count" (click)="gotoPage('contacted')">
            <h5 style="text-decoration: underline;">Contacted Users</h5> <h5 style="text-decoration: underline;" >{{dashboardData?.users?.ContactedUsers || 0}}</h5>
          </div>
      </ion-card-content>
      </ion-card>
  </div>
</ion-content>
